@import "tailwindcss";

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
}

html {
  scroll-behavior: smooth;
}

/* Media queries */

/* Default Light Mode */
body,
.bg-background {
  background: var(--background-light);
  color: var(--foreground-light);
}

/* Tailwind Dark Mode Override */
.dark body,
.dark .bg-background {
  background: var(--background-dark);
  color: var(--foreground-dark);
}

.text-foreground {
  color: var(--foreground-light);
}

.dark .text-foreground {
  color: var(--foreground-dark);
}

/* Smooth transitions */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
